<!DOCTYPE html>
<html>

<head>
    <title>Cocktail Rolodex</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="container-fluid body-container">
        <h1 class="border-bottom border-3 border-primary text-center pt-5">Cocktail Rolodex</h1>
        <div class="row row mb-2 pb-2 mt-2"></div>
        <div class="row row mb-5 pb-5 mt-5 justify-content-center align-middle text-center">
            <div class="col-5">


                <form action="/cocktails" method="get">
                    <input type="text" class="form-control" placeholder="Ingredient" name="ingredient" required>
                    <div class="row px-5 pt-3">
                        <button class="btn btn-primary btn-lg">Search Cocktails</button>
                    </div>
                </form>
            </div>
        </div>
            
    </div>






    </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>